/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
-fx-background-color: #333333;
}
#titleLabel{
    -fx-font-family: "impact";
    -fx-font-size: 50px;
    -fx-text-fill: #F6EEE3; /* Text color */
}

.tab-pane {
    -fx-background-color: transparent;
}

#caloriesLabel{
     -fx-font-family: "Arial";
    -fx-font-size: 24px;
    
    -fx-text-fill: black; /* i have the pi chart for now so i dont care about this*/
}
.chart-pie {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Add drop shadow effect */
}

.chart-pie-label {
    -fx-font-size: 20px; /* Set label font size */
    -fx-fill: white; /* Set label text color */
}
.tab {
   
    -fx-text-fill: #333333; /* Set text color */
    -fx-font-size: 16px; /* Set font size */
    -fx-font-family: "Arial"; /* Set font family */
    -fx-padding: 10px; 
    -fx-border-width: 1px; /* Set border width */
    /*-fx-border-color: #cccccc; /* Set border color */
}

.tab:selected {
   
    -fx-background-color: #FDA172;
}

.tab-pane .tab-content .tab-pane .anchor-pane {
    -fx-background-color: blue;
}

.infoLabel {
    -fx-font-size: 100px;
    -fx-text-fill: #666666;
}